
/* 钉住 */
/* https://www.zhangxinxu.com/wordpress/2018/12/css-position-sticky/ */
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


/* 滚动条 */
.SP_tableContent::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px transparent;background-color: rgba(0,0,0,.1);}
.SP_tableContent::-webkit-scrollbar{width: 5px; height: 5px; background-color: transparent;}
.SP_tableContent::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,.2); border-radius: 100px; }


/* 禁止选择文本 */
user-select :none;
/* 选中文本时 */
::selection {
    background:#d3d3d3; 
    color:#555;
}

/* 元素高斯模糊 */
filter: blur(5px);
