<!-- 步骤 01注册->02放入根实例 -->

<!--------------------------------------------- 最简单的 全局注册组件-->
<div id="app">
    <zujian title="123"></zujian>
    <zujian title="标题"></zujian>
    <zujian></zujian>
    <zujian></zujian>
</div>
<script>
    Vue.component('zujian',{
        props:['title'],   //通过props接收父层数据
        data:function(){
            return {
                clicknum:0
            }
        },
        //组件模版
        template:
            //每个组件只能有一个根元素,所以需要一个父元素包裹
            `<div> 
                <h1>{{ title }}</h1>
                <button @click='clicknum++'>{{ clicknum }}</button>
            </div>`
    })
    //需要定义根实例来用组件
    new Vue({
        el:'#app'
    })
</script>

<!--------------------------------------------- 实际复用组件是这样的，丢个对象进去，而不是一个个单独值-->
<div id="app">
    <wenzhang
        v-for="x in apiPost" :key="apiPost.id" 
        :post='x'
    ></wenzhang>
</div>
<script>
    Vue.component('wenzhang',{
        props:['post'],
        template:`
            <div>
                <h1>{{ post.title }}</h1>
                <span>{{ post.time }}</span>
            </div>`
    })
    new Vue({
        el:'#app',
        data:{
            apiPost:[
                {title:'知道自己拥有坏基因后会发生什么',time:'2019.01.18 , 16:00'},
                {title:'有力的证据表明：慢性疲劳综合征与过度“活跃”的免疫系统有关',time:'2019.01.18 , 14:30'},
                {title:'新娘为什么爱穿白色婚纱(真正起因)',time:'2019.01.15 , 11:00'}
            ]
        }
    })
</script>

<!--------------------------------------------- 组件向父层发射事件
$emit  定义事件名
$event 组件抛出的事件参数 
-->
<div id="app">
    <wenzhang
        :style='{fontSize:postFontSize+"em"}'
        v-on:lg-text='lgorsmFontSize($event,1)'
        v-on:sm-text='lgorsmFontSize($event,0)'
        v-for="x in apiPost" :key="apiPost.id" 
        :post='x'
    ></wenzhang>
</div>
<script>
    Vue.component('wenzhang',{
        props:['post'],
        template:`
            <div>
                <h1>{{ post.title }}</h1>
                <button v-on:click='$emit("lg-text",0.3)'>+</button>
                <button v-on:click='$emit("sm-text",0.3)'>-</button>
                <span>{{ post.time }}</span>
            </div>`
    })
    new Vue({
        el:'#app',
        data:{
            postFontSize:1,
            apiPost:[
                {title:'知道自己拥有坏基因后会发生什么',time:'2019.01.18 , 16:00'},
                {title:'有力的证据表明：慢性疲劳综合征与过度“活跃”的免疫系统有关',time:'2019.01.18 , 14:30'},
                {title:'新娘为什么爱穿白色婚纱(真正起因)',time:'2019.01.15 , 11:00'}
            ]
        },
        methods: {
            lgorsmFontSize:function (e,num) {
                if(num){
                    this.postFontSize += e
                }
                else {
                    this.postFontSize -= e
                }
                
            },
        }
    })
</script>

<!--------------------------------------------- 插槽<slot>-->
<wenzhang>丢到插槽</wenzhang>
<script>
    Vue.component('wenzhang',{
        template:`
            <h1>
                <slot></slot>    
            </h1>`
    })
</script>

<!--------------------------------------------- 组件之间(管你什么子父孙)全局发送接收数据/事件-->
<!-- eventVue.js -->
import Vue from 'vue'
export default new Vue

<!-- 组件A 发送方 -->
<template>
   <button @click="emitEvent"></button>
</template>
<script>
    import eventVUE from './eventVue.js'
    emitEvent: function (event) {
        eventVUE.$emit("eventName",'值/数据')   
    }
</script>

<!-- 组件B 接收方 -->
<script>
    import eventVUE from './eventVue.js'
    export default {
          created:function(){
               this.onEvent();
          },
    }
    onEvent: function (event) {
        eventVUE.$on("eventName",(event)=>{  
            console.log(event) //值/数据
        }
    }
</script>


























